################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.cache
/Anniversary.OuterClient/bin/Debug/netcoreapp3.1
/Anniversary.OuterClient/bin/Release/netcoreapp3.1
/Anniversary.OuterClient/Log
/Anniversary.OuterClient/obj
/Anniversary
/.vs/Anniversary
/Anniversary.Common/bin
/Anniversary.Common/obj/Debug/netcoreapp3.1
/Anniversary.Common/obj/Release/netcoreapp3.1
/Anniversary.Common/obj/project.assets.json
/Anniversary.Common/obj/Anniversary.Common.csproj.nuget.g.targets
/Anniversary.Common/obj/Anniversary.Common.csproj.nuget.g.props
/Anniversary.Common/obj/Anniversary.Common.csproj.nuget.dgspec.json
/Anniversary.IRepository/bin
/Anniversary.IRepository/obj/Debug/netcoreapp3.1
/Anniversary.IRepository/obj/Release/netcoreapp3.1
/Anniversary.IRepository/obj/project.assets.json
/Anniversary.IRepository/obj/Anniversary.IRepository.csproj.nuget.g.targets
/Anniversary.IRepository/obj/Anniversary.IRepository.csproj.nuget.g.props
/Anniversary.IRepository/obj/Anniversary.IRepository.csproj.nuget.dgspec.json
/Anniversary.IServices/bin
/Anniversary.IServices/obj/Debug/netcoreapp3.1
/Anniversary.Services/obj/Release/netcoreapp3.1/Anniversary.Services.pdb
/Anniversary.Services/obj/Release/netcoreapp3.1/Anniversary.Services.dll
/Anniversary.Services/obj/Release/netcoreapp3.1/Anniversary.Services.csproj.FileListAbsolute.txt
/Anniversary.Services/obj/Release/netcoreapp3.1/Anniversary.Services.csproj.CopyComplete
/Anniversary.Services/obj/Release/netcoreapp3.1/Anniversary.Services.AssemblyInfo.cs
/Anniversary.Services/obj/Release/netcoreapp3.1
/Anniversary.Services/obj/project.assets.json
/Anniversary.Services/obj/Debug/netcoreapp3.1/Anniversary.Services.pdb
/Anniversary.Services/obj/Debug/netcoreapp3.1/Anniversary.Services.dll
/Anniversary.Services/obj/Debug/netcoreapp3.1/Anniversary.Services.csproj.FileListAbsolute.txt
/Anniversary.Services/obj/Debug/netcoreapp3.1/Anniversary.Services.csproj.CopyComplete
/Anniversary.Services/obj/Debug/netcoreapp3.1/Anniversary.Services.AssemblyInfo.cs
/Anniversary.Services/obj/Debug/netcoreapp3.1
/Anniversary.Services/obj/Anniversary.Services.csproj.nuget.g.targets
/Anniversary.Services/obj/Anniversary.Services.csproj.nuget.g.props
/Anniversary.Services/obj/Anniversary.Services.csproj.nuget.dgspec.json
/Anniversary.Services/obj
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.Services.pdb
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.Services.dll
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.Services.deps.json
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.IServices.pdb
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.IServices.dll
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.IRepository.pdb
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.IRepository.dll
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.Common.pdb
/Anniversary.Services/bin/Release/netcoreapp3.1/Anniversary.Common.dll
/Anniversary.Services/bin/Release/netcoreapp3.1
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.Services.pdb
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.Services.dll
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.Services.deps.json
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.IServices.pdb
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.IServices.dll
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.IRepository.pdb
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.IRepository.dll
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.Common.pdb
/Anniversary.Services/bin/Debug/netcoreapp3.1/Anniversary.Common.dll
/Anniversary.Services/bin/Debug/netcoreapp3.1
/Anniversary.Services/bin
/Anniversary.Services
/Anniversary.Repository/obj/Release/netcoreapp3.1/Anniversary.Repository.pdb
/Anniversary.Repository/obj/Release/netcoreapp3.1/Anniversary.Repository.dll
/Anniversary.Repository/obj/Release/netcoreapp3.1/Anniversary.Repository.csproj.FileListAbsolute.txt
/Anniversary.Repository/obj/Release/netcoreapp3.1/Anniversary.Repository.csproj.CopyComplete
/Anniversary.Repository/obj/Release/netcoreapp3.1/Anniversary.Repository.AssemblyInfo.cs
/Anniversary.Repository/obj/Release/netcoreapp3.1
/Anniversary.Repository/obj/project.assets.json
/Anniversary.Repository/obj/Debug/netcoreapp3.1/Anniversary.Repository.pdb
/Anniversary.Repository/obj/Debug/netcoreapp3.1/Anniversary.Repository.dll
/Anniversary.Repository/obj/Debug/netcoreapp3.1/Anniversary.Repository.csproj.FileListAbsolute.txt
/Anniversary.Repository/obj/Debug/netcoreapp3.1/Anniversary.Repository.csproj.CopyComplete
/Anniversary.Repository/obj/Debug/netcoreapp3.1/Anniversary.Repository.AssemblyInfo.cs
/Anniversary.Repository/obj/Debug/netcoreapp3.1
/Anniversary.Repository/obj/Anniversary.Repository.csproj.nuget.g.targets
/Anniversary.Repository/obj/Anniversary.Repository.csproj.nuget.g.props
/Anniversary.Repository/obj/Anniversary.Repository.csproj.nuget.dgspec.json
/Anniversary.Repository/obj
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.Repository.pdb
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.Repository.dll
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.Repository.deps.json
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.IRepository.pdb
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.IRepository.dll
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.Common.pdb
/Anniversary.Repository/bin/Release/netcoreapp3.1/Anniversary.Common.dll
/Anniversary.Repository/bin/Release/netcoreapp3.1
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.Repository.pdb
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.Repository.dll
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.Repository.deps.json
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.IRepository.pdb
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.IRepository.dll
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.Common.pdb
/Anniversary.Repository/bin/Debug/netcoreapp3.1/Anniversary.Common.dll
/Anniversary.Repository/bin/Debug/netcoreapp3.1
/Anniversary.Repository/bin
/Anniversary.Repository
/Anniversary.Model/obj/Release/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Model/obj/Release/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Model/obj/Release/netcoreapp3.1/Anniversary.Model.csproj.FileListAbsolute.txt
/Anniversary.Model/obj/Release/netcoreapp3.1/Anniversary.Model.csproj.CopyComplete
/Anniversary.Model/obj/Release/netcoreapp3.1/Anniversary.Model.AssemblyInfo.cs
/Anniversary.Model/obj/Release/netcoreapp3.1
/Anniversary.Model/obj/project.assets.json
/Anniversary.Model/obj/Debug/netstandard2.0/Anniversary.Model.AssemblyInfo.cs
/Anniversary.Model/obj/Debug/netstandard2.0
/Anniversary.Model/obj/Debug/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Model/obj/Debug/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Model/obj/Debug/netcoreapp3.1/Anniversary.Model.csproj.FileListAbsolute.txt
/Anniversary.Model/obj/Debug/netcoreapp3.1/Anniversary.Model.csproj.CopyComplete
/Anniversary.Model/obj/Debug/netcoreapp3.1/Anniversary.Model.AssemblyInfo.cs
/Anniversary.Model/obj/Debug/netcoreapp3.1
/Anniversary.Model/obj/Debug
/Anniversary.Model/obj/Anniversary.Model.csproj.nuget.g.targets
/Anniversary.Model/obj/Anniversary.Model.csproj.nuget.g.props
/Anniversary.Model/obj/Anniversary.Model.csproj.nuget.dgspec.json
/Anniversary.Model/obj
/Anniversary.Model/bin/Release/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Model/bin/Release/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Model/bin/Release/netcoreapp3.1/Anniversary.Model.deps.json
/Anniversary.Model/bin/Release/netcoreapp3.1/Anniversary.Common.pdb
/Anniversary.Model/bin/Release/netcoreapp3.1/Anniversary.Common.dll
/Anniversary.Model/bin/Release/netcoreapp3.1
/Anniversary.Model/bin/Debug/netcoreapp3.1/Anniversary.Model.pdb
/Anniversary.Model/bin/Debug/netcoreapp3.1/Anniversary.Model.dll
/Anniversary.Model/bin/Debug/netcoreapp3.1/Anniversary.Model.deps.json
/Anniversary.Model/bin/Debug/netcoreapp3.1/Anniversary.Common.pdb
/Anniversary.Model/bin/Debug/netcoreapp3.1/Anniversary.Common.dll
/Anniversary.Model/bin/Debug/netcoreapp3.1
/Anniversary.Model/bin
/Anniversary.Model
/Anniversary.IServices/obj/Release/netcoreapp3.1/Anniversary.IServices.pdb
/Anniversary.IServices/obj/Release/netcoreapp3.1/Anniversary.IServices.dll
/Anniversary.IServices/obj/Release/netcoreapp3.1/Anniversary.IServices.csproj.FileListAbsolute.txt
/Anniversary.IServices/obj/Release/netcoreapp3.1/Anniversary.IServices.csproj.CopyComplete
/Anniversary.IServices/obj/Release/netcoreapp3.1/Anniversary.IServices.AssemblyInfo.cs
/Anniversary.IServices/obj/Release/netcoreapp3.1
/Anniversary.IServices/obj/project.assets.json
/Anniversary.IServices/obj/Anniversary.IServices.csproj.nuget.g.targets
/Anniversary.IServices/obj/Anniversary.IServices.csproj.nuget.g.props
/Anniversary.IServices/obj/Anniversary.IServices.csproj.nuget.dgspec.json
